<div class="page-header">
  <h3>Review #<%= @review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Rating</dt>
      <dd><%= @review.rating %></dd>

      <dt>Content</dt>
      <dd><%= @review.content %></dd>

      <dt>Photos</dt>
      <dd><img src="<%= @review.photos %>" class="img-responsive"></dd>

      <dt>Reviewer</dt>
      <dd>
        <% if @review.reviewer.present? %>
          <a href="/reviewers/<%= @review.reviewer_id %>">
            <%= @review.reviewer.name %>
          </a>
        <% end %>
      </dd>

      <dt>Restaurant</dt>
      <dd>
        <% if @review.restaurant.present? %>
          <a href="/restaurants/<%= @review.restaurant_id %>">
            <%= @review.restaurant.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reviews" class="btn btn-primary">
        Back
      </a>
      <a href="/reviews/<%= @review.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_review/<%= @review.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
